# Extracting Data from Excel Spreadsheets into a CSV for Upload to iNaturalist 
Dr. Joel Miles, Palau Invasive Species Coordinator, has been storing data from a Palau Invasive Plant survey as spreadsheets in an Excel Workbook. 
As a technical challenge, I wrote this iPython notebook to wrangle the data into a CSV for ingestion by iNaturalist.

In [1]:
import pandas as pd

### Grab the fields we want from each spreadsheet and store in a dataframe

In [2]:
df = pd.DataFrame(columns=['Place name', 'Plant Code', 'Longitude', 'Latitude'])

xls = pd.ExcelFile('PAN Workbook for Data Management v4.xlsx')
for sheet_name in xls.sheet_names:
    df1 = xls.parse(sheet_name, header=1)
    df1 = df1[['Date', 'Plant Code', 'Longitude', 'Latitude']]
    df1['Place name'] = '{}, Palau'.format(sheet_name)
    df = df.append(df1, ignore_index=True)
df

,Date,Latitude,Longitude,Place name,Plant Code
0,2015-10-14 00:00:00,134 33.063,7 20.439,"Airai, Palau",None
1,2015-10-14 00:00:00,134 33.938,7 20.501,"Airai, Palau",None
2,2015-10-14 00:00:00,134.33.442,7 20.442,"Airai, Palau",None
3,2015-10-14 00:00:00,134 33.441,7 20.446,"Airai, Palau",None
4,NaT,NaN,NaN,"Airai, Palau",NaN
5,2015-10-14 00:00:00,134 33.063,7 20.439,"Airai, Palau",None
6,2015-10-14 00:00:00,134 32.813,7 20.505,"Airai, Palau",ACAAUR
7,2015-10-14 00:00:00,134 33.068,7 20.444,"Airai, Palau",None
8,NaT,NaN,NaN,"Airai, Palau",NaN
9,2015-10-14 00:00:00,134 33.222,7 20.454,"Airai, Palau",None
10,2015-10-14 00:00:00,134 33.230,7 20.444,"Airai, Palau",None
11,2015-10-19 00:00:00,134 22.486,07 09.798,"Jellyfish Lake, Palau",None
12,2015-10-19 00:00:00,134 22.518,07 09.716,"Jellyfish Lake, Palau",None
13,2015-10-19 00:00:00,134 22.490,07 09.812,"Jellyfish Lake, Palau",None
14,2015-10-09 00:00:00,134 27.605,7 20.360,"Long Island, Palau",None
15,2015-10-09 00:00:00,134 27.628,7 20.300,"Long Island, Palau",MIKMIC
16,2015-10-09 00:00:00,134 27.628,7 20.300,"Long Island, Palau",None
17,2015-10-09 00:00:00,134 27.642,7 20.296,"Long Island, Palau",MIKMIC
18,2015-10-09 00:00:00,134 27.780,7 20.190,"Long Island, Palau",ADEPAV
19,2015-10-09 00:00:00,134 27.735,7 20.333,"Long Island, Palau",None
20,NaT,NaN,NaN,"Long Island, Palau",NaN
21,2015-10-09 00:00:00,134 27.762,7 20.310,"Long Island, Palau",SESCAN
22,2015-10-09 00:00:00,134 27.762,7 20.310,"Long Island, Palau",STAJAM
23,2015-10-09 00:00:00,134 27.764,7 20.310,"Long Island, Palau",MIMPUD
24,2015-10-09 00:00:00,134 27.810,7 20.273,"Long Island, Palau",None
25,2015-10-09 00:00:00,134 27.795,7 20.270,"Long Island, Palau",ADEPAV
26,2015-10-09 00:00:00,134 27.806,7 20.267,"Long Island, Palau",THUGRA
27,2015-10-09 00:00:00,134 27.811,7 20.280,"Long Island, Palau",SPHTRI
28,2015-10-09 00:00:00,134 27.725,7 20.383,"Long Island, Palau",LEULEU
29,2015-10-09 00:00:00,134 27.725,7 20.383,"Long Island, Palau",BIDALB
...,...,...,...,...,...
365,2015-10-14 00:00:00,134 31.154,7 24.716,"NWCA, Palau",None
366,2015-10-14 00:00:00,134 31.174,7 24.717,"NWCA, Palau",RATTAN
367,2015-10-14 00:00:00,134 31.159,7 24.709,"NWCA, Palau",ADEPAV
368,NaT,NaN,NaN,"NWCA, Palau",NaN
369,2015-10-14 00:00:00,134 31.016,7 24.724,"NWCA, Palau",None
370,2015-10-14 00:00:00,134 31.016,7 24.724,"NWCA, Palau",CLIHIR
371,2015-10-14 00:00:00,134 31.016,7 24.724,"NWCA, Palau",HYPCAP
372,2015-10-14 00:00:00,134 31.013,7 24.718,"NWCA, Palau",MIMPUD
373,2015-10-14 00:00:00,134 31.011,7 24.711,"NWCA, Palau",RATTAN
374,2015-10-14 00:00:00,134 30.997,7 24.694,"NWCA, Palau",RATTAN
375,2015-10-14 00:00:00,134 30.993,7 24.698,"NWCA, Palau",STACAY
376,2015-10-14 00:00:00,134 31.032,7 24.689,"NWCA, Palau",RATTAN
377,2015-10-14 00:00:00,134 31.032,7 24.689,"NWCA, Palau",CLIHIR
378,2015-10-14 00:00:00,134 31.050,7 24.683,"NWCA, Palau",CLIHIR
379,2015-10-14 00:00:00,134 31.050,7 24.683,"NWCA, Palau",RATTAN
380,2015-10-14 00:00:00,134 31.075,7 24.689,"NWCA, Palau",ADEPAV
381,2015-10-14 00:00:00,134 31.075,7 24.689,"NWCA, Palau",CHRODO
382,2015-10-14 00:00:00,134 31.090,7 24.681,"NWCA, Palau",RATTAN
383,2015-10-14 00:00:00,134 31.136,7 24.660,"NWCA, Palau",CLIHIR
384,2015-10-14 00:00:00,134 31.139,7 24.665,"NWCA, Palau",CHRODO
385,2015-10-14 00:00:00,134 31.141,7 24.694,"NWCA, Palau",ADEPAV
386,2015-10-14 00:00:00,134 31.146,7 24.721,"NWCA, Palau",None
387,2015-10-12 00:00:00,134 37.590,7 33.256,"Ngiwal, Palau",ChrOdo
388,2015-10-12 00:00:00,134 37.595,7 33.250,"Ngiwal, Palau",Rats Tail
389,2015-10-12 00:00:00,134 37.585,7 33.249,"Ngiwal, Palau",Neneng
390,2015-10-12 00:00:00,134 37.585,7 33.249,"Ngiwal, Palau",Surato
391,2015-10-12 00:00:00,NaN,NaN,"Ngiwal, Palau",LeuLeu
392,2015-10-07 00:00:00,NaN,NaN,"Taki, Palau",CliHir
393,2015-10-07 00:00:00,134 35.23,7 29.2,"Taki, Palau",AruGra
394,2015-10-07 00:00:00,134 35.30,7 29.049,"Taki, Palau",ChrOdo

### Remove unnecessary rows (those without a Plant Code)

In [3]:
df = df[pd.notnull(df['Plant Code'])] # Remove rows where Plant Code is blank (null)
df = df[df['Plant Code'] != 'None']   # Remove rows where Plant Code is 'None'
#df

### Remove rows with bad data

In [4]:
df.dropna(inplace=True)                       # Delete rows where any field is empty
#df

### Swap column headers for Latitude and Longitude
The columns for latitude and longitude are mislabeled in the original spreadsheet,

In [5]:
df = df.rename(columns = {'Longitude': 'x'})
df = df.rename(columns = {'Latitude': 'Longitude'})
df = df.rename(columns = {'x': 'Latitude'})
#df

### Convert GPS coordinates to decimal degrees

In [6]:
def decimal_degrees(s):
    splt = s.split()
    degrees = int(splt[0])
    minutes = float(splt[1])
    return degrees + minutes / 60.0

for index, row in df.iterrows():
    dd_longitude = decimal_degrees(row['Longitude'])
    df.set_value(index, 'Longitude', dd_longitude)
    dd_latitude = decimal_degrees(row['Latitude'])
    df.set_value(index, 'Latitude', dd_latitude)

### Convert plant codes to upper case and list unique values

In [7]:
df['Plant Code'] = df['Plant Code'].str.upper()
sorted(df['Plant Code'].unique())

['ACAAUR',
 'ADEPAV',
 'ALLCAT',
 'ARUDON',
 'ARUGRA',
 'BIDALB',
 'BOUNDARY',
 'CENPOL',
 'CENPUR',
 'CHANIC',
 'CHRODO',
 'CLIHIR',
 'DESINC',
 'DIESEG',
 'EPIPIN',
 'FALMOL',
 'HYPCAP',
 'IMPCON',
 'LANCAM',
 'LEULEU',
 'MACATR',
 'MEGMAX',
 'MIKMIC',
 'MIMPUD',
 'MUNCAL',
 'NENENG',
 "NENENG'S UNCLE",
 'RATS TAIL',
 'RATTAN',
 'SACSPO',
 'SESCAN',
 'SORHAL',
 'SPHTRI',
 'STACAY',
 'STAJAM',
 'SURATO',
 'THUGRA',
 'TRASPA',
 'TURSUB',
 'UNKNOWN']

### Replace Plant Code with scientific name
We create a dictionary taxon names keyed by olant code. We then use this dictionary to add a **Taxon name** column. Note that I have guessed a few taxon names, but left most as Plantae.

In [8]:
dict = {'ACAAUR': 'Acacia auriculiformis', 
        'ADEPAV': 'Plantae',
        'ALLCAT': 'Plantae',
        'ARUDON': 'Arundo donax',
        'ARUGRA': 'Plantae',
        'BIDALB': 'Plantae',
        'BOUNDARY': 'Plantae',
        'CENPOL': 'Plantae',
        'CENPUR': 'Plantae',
        'CHANIC': 'Plantae',
        'CHRODO': 'Chromolaena odorata',
        'CLIHIR': 'Plantae',
        'DESINC': 'Plantae',
        'DIESEG': 'Plantae',
        'EPIPIN': 'Plantae',
        'FALMOL': 'Plantae',
        'HYPCAP': 'Plantae',
        'IMPCON': 'Imperata conferta',
        'LANCAM': 'Plantae',
        'LEULEU': 'Leucaena leucocephala',
        'MACATR': 'Plantae',
        'MEGMAX': 'Plantae',
        'MIKMIC': 'Plantae',
        'MIMPUD': 'Mimosa pudica',
        'MUNCAL': 'Plantae',
        'NENENG': 'Plantae',
        "NENENG'S UNCLE": 'Plantae',
        'RATS TAIL': 'Plantae',
        'RATTAN': 'Plantae',
        'SACSPO': 'Plantae',
        'SESCAN': 'Plantae',
        'SORHAL': 'Plantae',
        'SPHTRI': 'Plantae',
        'STACAY': 'Plantae',
        'STAJAM': 'Plantae',
        'SURATO': 'Plantae',
        'THUGRA': 'Plantae',
        'TRASPA': 'Plantae',
        'TURSUB': 'Plantae',
        'UNKNOWN': 'Plantae'
        }

df['Taxon name']  = ''  # Create a new column and populate using dictionary  
for index, row in df.iterrows():
    df.set_value(index, 'Taxon name', dict[row['Plant Code']])

In [9]:
df

,Date,Longitude,Latitude,Place name,Plant Code,Taxon name
6,2015-10-14 00:00:00,134.547,7.34175,"Airai, Palau",ACAAUR,Acacia auriculiformis
15,2015-10-09 00:00:00,134.46,7.33833,"Long Island, Palau",MIKMIC,Plantae
17,2015-10-09 00:00:00,134.461,7.33827,"Long Island, Palau",MIKMIC,Plantae
18,2015-10-09 00:00:00,134.463,7.3365,"Long Island, Palau",ADEPAV,Plantae
21,2015-10-09 00:00:00,134.463,7.3385,"Long Island, Palau",SESCAN,Plantae
22,2015-10-09 00:00:00,134.463,7.3385,"Long Island, Palau",STAJAM,Plantae
23,2015-10-09 00:00:00,134.463,7.3385,"Long Island, Palau",MIMPUD,Mimosa pudica
25,2015-10-09 00:00:00,134.463,7.33783,"Long Island, Palau",ADEPAV,Plantae
26,2015-10-09 00:00:00,134.463,7.33778,"Long Island, Palau",THUGRA,Plantae
27,2015-10-09 00:00:00,134.464,7.338,"Long Island, Palau",SPHTRI,Plantae
28,2015-10-09 00:00:00,134.462,7.33972,"Long Island, Palau",LEULEU,Leucaena leucocephala
29,2015-10-09 00:00:00,134.462,7.33972,"Long Island, Palau",BIDALB,Plantae
30,2015-10-09 00:00:00,134.462,7.33973,"Long Island, Palau",TURSUB,Plantae
31,2015-10-09 00:00:00,134.462,7.33973,"Long Island, Palau",TRASPA,Plantae
32,2015-10-09 00:00:00,134.461,7.33982,"Long Island, Palau",LEULEU,Leucaena leucocephala
33,2015-10-09 00:00:00,134.46,7.33975,"Long Island, Palau",EPIPIN,Plantae
36,2015-10-09 00:00:00,134.462,7.3392,"Long Island, Palau",LEULEU,Leucaena leucocephala
37,2015-10-09 00:00:00,134.462,7.33927,"Long Island, Palau",MIKMIC,Plantae
38,2015-10-09 00:00:00,134.462,7.33917,"Long Island, Palau",ADEPAV,Plantae
39,2015-10-09 00:00:00,134.462,7.33912,"Long Island, Palau",HYPCAP,Plantae
40,2015-10-09 00:00:00,134.462,7.33912,"Long Island, Palau",THUGRA,Plantae
41,2015-10-09 00:00:00,134.462,7.33903,"Long Island, Palau",LEULEU,Leucaena leucocephala
42,2015-10-09 00:00:00,134.462,7.33897,"Long Island, Palau",MIKMIC,Plantae
43,2015-10-09 00:00:00,134.462,7.33897,"Long Island, Palau",STACAY,Plantae
44,2015-10-09 00:00:00,134.462,7.33892,"Long Island, Palau",CHRODO,Chromolaena odorata
46,2015-10-09 00:00:00,134.462,7.33867,"Long Island, Palau",DESINC,Plantae
47,2015-10-09 00:00:00,134.463,7.33848,"Long Island, Palau",MUNCAL,Plantae
48,2015-10-09 00:00:00,134.463,7.33848,"Long Island, Palau",BIDALB,Plantae
49,2015-10-08 00:00:00,134.565,7.4651,"Mesekelat, Palau",ARUDON,Arundo donax
50,2015-10-08 00:00:00,134.565,7.46518,"Mesekelat, Palau",STACAY,Plantae
...,...,...,...,...,...,...
359,2015-10-14 00:00:00,134.518,7.41228,"NWCA, Palau",CLIHIR,Plantae
360,2015-10-14 00:00:00,134.518,7.4123,"NWCA, Palau",RATTAN,Plantae
361,2015-10-14 00:00:00,134.518,7.4124,"NWCA, Palau",CLIHIR,Plantae
362,2015-10-14 00:00:00,134.518,7.41245,"NWCA, Palau",HYPCAP,Plantae
363,2015-10-14 00:00:00,134.518,7.41258,"NWCA, Palau",CLIHIR,Plantae
364,2015-10-14 00:00:00,134.518,7.41258,"NWCA, Palau",RATTAN,Plantae
366,2015-10-14 00:00:00,134.52,7.41195,"NWCA, Palau",RATTAN,Plantae
367,2015-10-14 00:00:00,134.519,7.41182,"NWCA, Palau",ADEPAV,Plantae
370,2015-10-14 00:00:00,134.517,7.41207,"NWCA, Palau",CLIHIR,Plantae
371,2015-10-14 00:00:00,134.517,7.41207,"NWCA, Palau",HYPCAP,Plantae
372,2015-10-14 00:00:00,134.517,7.41197,"NWCA, Palau",MIMPUD,Mimosa pudica
373,2015-10-14 00:00:00,134.517,7.41185,"NWCA, Palau",RATTAN,Plantae
374,2015-10-14 00:00:00,134.517,7.41157,"NWCA, Palau",RATTAN,Plantae
375,2015-10-14 00:00:00,134.517,7.41163,"NWCA, Palau",STACAY,Plantae
376,2015-10-14 00:00:00,134.517,7.41148,"NWCA, Palau",RATTAN,Plantae
377,2015-10-14 00:00:00,134.517,7.41148,"NWCA, Palau",CLIHIR,Plantae
378,2015-10-14 00:00:00,134.518,7.41138,"NWCA, Palau",CLIHIR,Plantae
379,2015-10-14 00:00:00,134.518,7.41138,"NWCA, Palau",RATTAN,Plantae
380,2015-10-14 00:00:00,134.518,7.41148,"NWCA, Palau",ADEPAV,Plantae
381,2015-10-14 00:00:00,134.518,7.41148,"NWCA, Palau",CHRODO,Chromolaena odorata
382,2015-10-14 00:00:00,134.518,7.41135,"NWCA, Palau",RATTAN,Plantae
383,2015-10-14 00:00:00,134.519,7.411,"NWCA, Palau",CLIHIR,Plantae
384,2015-10-14 00:00:00,134.519,7.41108,"NWCA, Palau",CHRODO,Chromolaena odorata
385,2015-10-14 00:00:00,134.519,7.41157,"NWCA, Palau",ADEPAV,Plantae
387,2015-10-12 00:00:00,134.626,7.55427,"Ngiwal, Palau",CHRODO,Chromolaena odorata
388,2015-10-12 00:00:00,134.627,7.55417,"Ngiwal, Palau",RATS TAIL,Plantae
389,2015-10-12 00:00:00,134.626,7.55415,"Ngiwal, Palau",NENENG,Plantae
390,2015-10-12 00:00:00,134.626,7.55415,"Ngiwal, Palau",SURATO,Plantae
393,2015-10-07 00:00:00,134.587,7.48667,"Taki, Palau",ARUGRA,Plantae
394,2015-10-07 00:00:00,134.588,7.48415,"Taki, Palau",CHRODO,Chromolaena odorata

### Build CSV string

In [10]:
# Header row
s = ''
s += 'Taxon name,Date observed,Description,Place name,'
s += 'Latitude / y coord / northing,Longitude / x coord / easting,'
s += 'Tags,Geoprivacy\n'

# Data rows
for index, row in df.iterrows():
        s += '{},{:%Y-%m-%d},"Plant Code: {}","{}",{:f},{:f},,,\n'.format(
            row['Taxon name'], 
            row['Date'],
            row['Plant Code'], # Description: store Plant Code and any other data here. 
            row['Place name'],
            row['Latitude'], 
            row['Longitude'])
#print(s)

### Write CSV string to a file

In [11]:
with open("Palau.csv", "w") as text_file:
    text_file.write(s)

### Check CSV file by reading it back as a Pandas data frame

In [12]:
df_csv = pd.read_csv("Palau.csv", index_col=False)
df_csv

,Taxon name,Date observed,Description,Place name,Latitude / y coord / northing,Longitude / x coord / easting,Tags,Geoprivacy
0,Acacia auriculiformis,2015-10-14,Plant Code: ACAAUR,"Airai, Palau",7.341750,134.546883,NaN,NaN
1,Plantae,2015-10-09,Plant Code: MIKMIC,"Long Island, Palau",7.338333,134.460467,NaN,NaN
2,Plantae,2015-10-09,Plant Code: MIKMIC,"Long Island, Palau",7.338267,134.460700,NaN,NaN
3,Plantae,2015-10-09,Plant Code: ADEPAV,"Long Island, Palau",7.336500,134.463000,NaN,NaN
4,Plantae,2015-10-09,Plant Code: SESCAN,"Long Island, Palau",7.338500,134.462700,NaN,NaN
5,Plantae,2015-10-09,Plant Code: STAJAM,"Long Island, Palau",7.338500,134.462700,NaN,NaN
6,Mimosa pudica,2015-10-09,Plant Code: MIMPUD,"Long Island, Palau",7.338500,134.462733,NaN,NaN
7,Plantae,2015-10-09,Plant Code: ADEPAV,"Long Island, Palau",7.337833,134.463250,NaN,NaN
8,Plantae,2015-10-09,Plant Code: THUGRA,"Long Island, Palau",7.337783,134.463433,NaN,NaN
9,Plantae,2015-10-09,Plant Code: SPHTRI,"Long Island, Palau",7.338000,134.463517,NaN,NaN
10,Leucaena leucocephala,2015-10-09,Plant Code: LEULEU,"Long Island, Palau",7.339717,134.462083,NaN,NaN
11,Plantae,2015-10-09,Plant Code: BIDALB,"Long Island, Palau",7.339717,134.462083,NaN,NaN
12,Plantae,2015-10-09,Plant Code: TURSUB,"Long Island, Palau",7.339733,134.462400,NaN,NaN
13,Plantae,2015-10-09,Plant Code: TRASPA,"Long Island, Palau",7.339733,134.462400,NaN,NaN
14,Leucaena leucocephala,2015-10-09,Plant Code: LEULEU,"Long Island, Palau",7.339817,134.460717,NaN,NaN
15,Plantae,2015-10-09,Plant Code: EPIPIN,"Long Island, Palau",7.339750,134.459817,NaN,NaN
16,Leucaena leucocephala,2015-10-09,Plant Code: LEULEU,"Long Island, Palau",7.339200,134.461667,NaN,NaN
17,Plantae,2015-10-09,Plant Code: MIKMIC,"Long Island, Palau",7.339267,134.461750,NaN,NaN
18,Plantae,2015-10-09,Plant Code: ADEPAV,"Long Island, Palau",7.339167,134.461767,NaN,NaN
19,Plantae,2015-10-09,Plant Code: HYPCAP,"Long Island, Palau",7.339117,134.461767,NaN,NaN
20,Plantae,2015-10-09,Plant Code: THUGRA,"Long Island, Palau",7.339117,134.461833,NaN,NaN
21,Leucaena leucocephala,2015-10-09,Plant Code: LEULEU,"Long Island, Palau",7.339033,134.461933,NaN,NaN
22,Plantae,2015-10-09,Plant Code: MIKMIC,"Long Island, Palau",7.338967,134.461917,NaN,NaN
23,Plantae,2015-10-09,Plant Code: STACAY,"Long Island, Palau",7.338967,134.461950,NaN,NaN
24,Chromolaena odorata,2015-10-09,Plant Code: CHRODO,"Long Island, Palau",7.338917,134.461983,NaN,NaN
25,Plantae,2015-10-09,Plant Code: DESINC,"Long Island, Palau",7.338667,134.462233,NaN,NaN
26,Plantae,2015-10-09,Plant Code: MUNCAL,"Long Island, Palau",7.338483,134.462683,NaN,NaN
27,Plantae,2015-10-09,Plant Code: BIDALB,"Long Island, Palau",7.338483,134.462683,NaN,NaN
28,Arundo donax,2015-10-08,Plant Code: ARUDON,"Mesekelat, Palau",7.465100,134.565267,NaN,NaN
29,Plantae,2015-10-08,Plant Code: STACAY,"Mesekelat, Palau",7.465183,134.565450,NaN,NaN
...,...,...,...,...,...,...,...,...
150,Plantae,2015-10-14,Plant Code: CLIHIR,"NWCA, Palau",7.412283,134.517567,NaN,NaN
151,Plantae,2015-10-14,Plant Code: RATTAN,"NWCA, Palau",7.412300,134.517733,NaN,NaN
152,Plantae,2015-10-14,Plant Code: CLIHIR,"NWCA, Palau",7.412400,134.517933,NaN,NaN
153,Plantae,2015-10-14,Plant Code: HYPCAP,"NWCA, Palau",7.412450,134.517983,NaN,NaN
154,Plantae,2015-10-14,Plant Code: CLIHIR,"NWCA, Palau",7.412583,134.518150,NaN,NaN
155,Plantae,2015-10-14,Plant Code: RATTAN,"NWCA, Palau",7.412583,134.518150,NaN,NaN
156,Plantae,2015-10-14,Plant Code: RATTAN,"NWCA, Palau",7.411950,134.519567,NaN,NaN
157,Plantae,2015-10-14,Plant Code: ADEPAV,"NWCA, Palau",7.411817,134.519317,NaN,NaN
158,Plantae,2015-10-14,Plant Code: CLIHIR,"NWCA, Palau",7.412067,134.516933,NaN,NaN
159,Plantae,2015-10-14,Plant Code: HYPCAP,"NWCA, Palau",7.412067,134.516933,NaN,NaN
160,Mimosa pudica,2015-10-14,Plant Code: MIMPUD,"NWCA, Palau",7.411967,134.516883,NaN,NaN
161,Plantae,2015-10-14,Plant Code: RATTAN,"NWCA, Palau",7.411850,134.516850,NaN,NaN
162,Plantae,2015-10-14,Plant Code: RATTAN,"NWCA, Palau",7.411567,134.516617,NaN,NaN
163,Plantae,2015-10-14,Plant Code: STACAY,"NWCA, Palau",7.411633,134.516550,NaN,NaN
164,Plantae,2015-10-14,Plant Code: RATTAN,"NWCA, Palau",7.411483,134.517200,NaN,NaN
165,Plantae,2015-10-14,Plant Code: CLIHIR,"NWCA, Palau",7.411483,134.517200,NaN,NaN
166,Plantae,2015-10-14,Plant Code: CLIHIR,"NWCA, Palau",7.411383,134.517500,NaN,NaN
167,Plantae,2015-10-14,Plant Code: RATTAN,"NWCA, Palau",7.411383,134.517500,NaN,NaN
168,Plantae,2015-10-14,Plant Code: ADEPAV,"NWCA, Palau",7.411483,134.517917,NaN,NaN
169,Chromolaena odorata,2015-10-14,Plant Code: CHRODO,"NWCA, Palau",7.411483,134.517917,NaN,NaN
170,Plantae,2015-10-14,Plant Code: RATTAN,"NWCA, Palau",7.411350,134.518167,NaN,NaN
171,Plantae,2015-10-14,Plant Code: CLIHIR,"NWCA, Palau",7.411000,134.518933,NaN,NaN
172,Chromolaena odorata,2015-10-14,Plant Code: CHRODO,"NWCA, Palau",7.411083,134.518983,NaN,NaN
173,Plantae,2015-10-14,Plant Code: ADEPAV,"NWCA, Palau",7.411567,134.519017,NaN,NaN
174,Chromolaena odorata,2015-10-12,Plant Code: CHRODO,"Ngiwal, Palau",7.554267,134.626500,NaN,NaN
175,Plantae,2015-10-12,Plant Code: RATS TAIL,"Ngiwal, Palau",7.554167,134.626583,NaN,NaN
176,Plantae,2015-10-12,Plant Code: NENENG,"Ngiwal, Palau",7.554150,134.626417,NaN,NaN
177,Plantae,2015-10-12,Plant Code: SURATO,"Ngiwal, Palau",7.554150,134.626417,NaN,NaN
178,Plantae,2015-10-07,Plant Code: ARUGRA,"Taki, Palau",7.486667,134.587167,NaN,NaN
179,Chromolaena odorata,2015-10-07,Plant Code: CHRODO,"Taki, Palau",7.484150,134.588333,NaN,NaN

### Write the first ten rows to a CSV for test upload,

In [13]:
df_csv = df_csv.head(10)
with open("Palau_first_10_rows.csv", "w") as text_file:
    text_file.write(s)

### Results of Test Upload

#### ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
#### Within a few minutes after uploading the test CSV, I got an email message from iNaturalist
If the upload fails, the email will let you know what needs to be fixed.
#### ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------        

![Email messge from iNaturalist](Screenshot from 2016-08-27 10-18-39.png)

#### ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
#### And here's what was diplayed when I clicked on the "View your observations" link:
#### ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

![](Screenshot from 2016-08-27 10-30-22.png)

#### ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
#### Note: If you scroll to the bottom of the screen, links are provided to downlad data as a CSV (spreadsheet) or KML (Google Earth/Maps).
#### ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

![](Screenshot from 2016-08-27 10-31-23.png)
#### ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
#### Here's the edit screen for one of the uploaded observations
Note that a tag is provided to identify uploaded observations.
#### ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

![](Screenshot from 2016-08-27 10-52-12.png)

#### ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
#### Clean Up: Deleting observations added to iNaturalist during our test
To delete observations added during the upload test:
* Search for observations using the tag provided by the uploader
* Select all 
* Delete selected

#### ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

![](Screenshot from 2016-08-28 02-09-00.png)