# Extracting Data from Excel Spreadsheets into a CSV for Upload to iNaturalist 
Dr. Joel Miles, Palau Invasive Species Coordinator, has been storing data from a Palau Invasive Plant survey as spreadsheets in an Excel Workbook. 
As a technical challenge, I wrote this iPython notebook to wrangle the data into a CSV for ingestion by iNaturalist.

In [1]:
import pandas as pd
pd.set_option("display.max_rows",4)

### Grab the fields we want from each spreadsheet and store in a dataframe

In [2]:
df = pd.DataFrame(columns=['Place name', 'Plant Code', 'Longitude', 'Latitude'])

xls = pd.ExcelFile('PAN Workbook for Data Management v4.xlsx')
for sheet_name in xls.sheet_names:
    df1 = xls.parse(sheet_name, header=1)
    df1 = df1[['Date', 'Plant Code', 'Longitude', 'Latitude']]
    df1['Place name'] = '{}, Palau'.format(sheet_name)
    df = df.append(df1, ignore_index=True)
df

                    Date    Latitude Longitude    Place name Plant Code
0    2015-10-14 00:00:00  134 33.063  7 20.439  Airai, Palau       None
1    2015-10-14 00:00:00  134 33.938  7 20.501  Airai, Palau       None
..                   ...         ...       ...           ...        ...
393  2015-10-07 00:00:00   134 35.23    7 29.2   Taki, Palau     AruGra
394  2015-10-07 00:00:00   134 35.30  7 29.049   Taki, Palau     ChrOdo

[395 rows x 5 columns]

### Remove unnecessary rows (those without a Plant Code)

In [3]:
df = df[pd.notnull(df['Plant Code'])] # Remove rows where Plant Code is blank (null)
df = df[df['Plant Code'] != 'None']   # Remove rows where Plant Code is 'None'
#df

### Remove rows with bad data

In [4]:
df.dropna(inplace=True)                       # Delete rows where any field is empty
#df

### Swap column headers for Latitude and Longitude
The columns for latitude and longitude are mislabeled in the original spreadsheet,

In [5]:
df = df.rename(columns = {'Longitude': 'x'})
df = df.rename(columns = {'Latitude': 'Longitude'})
df = df.rename(columns = {'x': 'Latitude'})
#df

### Convert GPS coordinates to decimal degrees

In [6]:
def decimal_degrees(s):
    splt = s.split()
    degrees = int(splt[0])
    minutes = float(splt[1])
    return degrees + minutes / 60.0

for index, row in df.iterrows():
    dd_longitude = decimal_degrees(row['Longitude'])
    df.set_value(index, 'Longitude', dd_longitude)
    dd_latitude = decimal_degrees(row['Latitude'])
    df.set_value(index, 'Latitude', dd_latitude)

### Convert plant codes to upper case and list unique values

In [7]:
df['Plant Code'] = df['Plant Code'].str.upper()
sorted(df['Plant Code'].unique())

['ACAAUR',
 'ADEPAV',
 'ALLCAT',
 'ARUDON',
 'ARUGRA',
 'BIDALB',
 'BOUNDARY',
 'CENPOL',
 'CENPUR',
 'CHANIC',
 'CHRODO',
 'CLIHIR',
 'DESINC',
 'DIESEG',
 'EPIPIN',
 'FALMOL',
 'HYPCAP',
 'IMPCON',
 'LANCAM',
 'LEULEU',
 'MACATR',
 'MEGMAX',
 'MIKMIC',
 'MIMPUD',
 'MUNCAL',
 'NENENG',
 "NENENG'S UNCLE",
 'RATS TAIL',
 'RATTAN',
 'SACSPO',
 'SESCAN',
 'SORHAL',
 'SPHTRI',
 'STACAY',
 'STAJAM',
 'SURATO',
 'THUGRA',
 'TRASPA',
 'TURSUB',
 'UNKNOWN']

### Replace Plant Code with scientific name
We create a dictionary taxon names keyed by olant code. We then use this dictionary to add a **Taxon name** column. Note that I have guessed a few taxon names, but left most as Plantae.

In [8]:
dict = {'ACAAUR': 'Acacia auriculiformis', 
        'ADEPAV': 'Plantae',
        'ALLCAT': 'Plantae',
        'ARUDON': 'Arundo donax',
        'ARUGRA': 'Plantae',
        'BIDALB': 'Plantae',
        'BOUNDARY': 'Plantae',
        'CENPOL': 'Plantae',
        'CENPUR': 'Plantae',
        'CHANIC': 'Plantae',
        'CHRODO': 'Chromolaena odorata',
        'CLIHIR': 'Plantae',
        'DESINC': 'Plantae',
        'DIESEG': 'Plantae',
        'EPIPIN': 'Plantae',
        'FALMOL': 'Plantae',
        'HYPCAP': 'Plantae',
        'IMPCON': 'Imperata conferta',
        'LANCAM': 'Plantae',
        'LEULEU': 'Leucaena leucocephala',
        'MACATR': 'Plantae',
        'MEGMAX': 'Plantae',
        'MIKMIC': 'Plantae',
        'MIMPUD': 'Mimosa pudica',
        'MUNCAL': 'Plantae',
        'NENENG': 'Plantae',
        "NENENG'S UNCLE": 'Plantae',
        'RATS TAIL': 'Plantae',
        'RATTAN': 'Plantae',
        'SACSPO': 'Plantae',
        'SESCAN': 'Plantae',
        'SORHAL': 'Plantae',
        'SPHTRI': 'Plantae',
        'STACAY': 'Plantae',
        'STAJAM': 'Plantae',
        'SURATO': 'Plantae',
        'THUGRA': 'Plantae',
        'TRASPA': 'Plantae',
        'TURSUB': 'Plantae',
        'UNKNOWN': 'Plantae'
        }

df['Taxon name']  = ''  # Create a new column and populate using dictionary  
for index, row in df.iterrows():
    df.set_value(index, 'Taxon name', dict[row['Plant Code']])

In [9]:
df

,Date,Longitude,Latitude,Place name,Plant Code,Taxon name
6,2015-10-14 00:00:00,134.547,7.34175,"Airai, Palau",ACAAUR,Acacia auriculiformis
15,2015-10-09 00:00:00,134.46,7.33833,"Long Island, Palau",MIKMIC,Plantae
...,...,...,...,...,...,...
393,2015-10-07 00:00:00,134.587,7.48667,"Taki, Palau",ARUGRA,Plantae
394,2015-10-07 00:00:00,134.588,7.48415,"Taki, Palau",CHRODO,Chromolaena odorata

### Build CSV string

In [10]:
# Header row
s = ''
s += 'Taxon name,Date observed,Description,Place name,'
s += 'Latitude / y coord / northing,Longitude / x coord / easting,'
s += 'Tags,Geoprivacy\n'

# Data rows
for index, row in df.iterrows():
        s += '{},{:%Y-%m-%d},"Plant Code: {}","{}",{:f},{:f},,,\n'.format(
            row['Taxon name'], 
            row['Date'],
            row['Plant Code'], # Description: store Plant Code and any other data here. 
            row['Place name'],
            row['Latitude'], 
            row['Longitude'])
#print(s)

### Write CSV string to a file

In [11]:
with open("Palau.csv", "w") as text_file:
    text_file.write(s)

### Check CSV file by reading it back as a Pandas data frame

In [12]:
df_csv = pd.read_csv("Palau.csv", index_col=False)
df_csv

,Taxon name,Date observed,Description,Place name,Latitude / y coord / northing,Longitude / x coord / easting,Tags,Geoprivacy
0,Acacia auriculiformis,2015-10-14,Plant Code: ACAAUR,"Airai, Palau",7.341750,134.546883,NaN,NaN
1,Plantae,2015-10-09,Plant Code: MIKMIC,"Long Island, Palau",7.338333,134.460467,NaN,NaN
...,...,...,...,...,...,...,...,...
178,Plantae,2015-10-07,Plant Code: ARUGRA,"Taki, Palau",7.486667,134.587167,NaN,NaN
179,Chromolaena odorata,2015-10-07,Plant Code: CHRODO,"Taki, Palau",7.484150,134.588333,NaN,NaN

### Write the first ten rows to a CSV for test upload,

In [13]:
df_csv = df_csv.head(10)
with open("Palau_first_10_rows.csv", "w") as text_file:
    text_file.write(s)

### Results of Test Upload

#### ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
#### Upload the test CSV (first ten observations)
In the Add Observations dialog click on **More import options**, then **CSV**.
#### ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

![](upload1.png)
![](upload2.png)

#### ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
#### Within a few minutes after uploading the test CSV, I got an email message from iNaturalist
If the upload fails, the email will let you know what needs to be fixed.
#### ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------        

![Email message from iNaturalist](fig1.png)

#### ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
#### And here's what was diplayed when I clicked on the "View your observations" link:
#### ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

![](fig2.png)

#### ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
#### Note: If you scroll to the bottom of the screen, links are provided to downlad data as a CSV (spreadsheet) or KML (Google Earth/Maps).
#### ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

![](fig3.png)
#### ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
#### Here's the edit screen for one of the uploaded observations
Note that a tag is provided to identify uploaded observations.
#### ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

![](fig4.png)

#### ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
#### Clean Up: Deleting observations added to iNaturalist during our test
To delete observations added during the upload test:
* Search for observations using the tag provided by the uploader
* Select all 
* Delete selected

#### ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

![](fig5.png)